* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 75px;
  --footer-height: 50px;

  --dark: #000000;
  --medium: #727477;
  --light: #ffffff;
  --contrast-text: #f8f8f2;
  --accent-1: #2e8af6;
  --accent-2: #50fa7b;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  color: var(--light);
  background-color: var(--dark);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--light);
  text-decoration: none;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}
