* {
  box-sizing: border-box;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 375px;
  position: relative;
  left: calc(50% - 162.5px);
}

.post__article {
  display: flex;
  flex-direction: column;

  background-color: black;
  border: solid 0.5px;
  background-color: black;
  width: 18rem;
  height: 22rem;
}
.post__article--2 {
  display: flex;
  flex-direction: column;

  background-color: black;
  border: solid 0.5px;
  background-color: black;
  width: 18rem;
  height: 15rem;
}

.User-Name {
  color: white;
  font-size: x-small;
  margin-left: 0.5rem;
}

.profile_head {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 16px;
}

.profile_head--time {
  position: relative;
  right: 3rem;
  top: 1rem;
  font-size: x-small;
  color: white;
}
.User-img {
  border-radius: 150px;
  border-style: solid;

  background-color: aliceblue;
}

.post__text {
  color: lightgray;
  position: relative;
  left: 0.8rem;
  font-size: small;
}

.likes_text {
  color: white;
  margin: 0;
}

.share_text {
  color: white;
  margin: 0;
}
.info_field {
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translate(-65%, -40%);
}

.info_field--2 {
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 49em;
  left: 50%;
  transform: translate(-70%, -40%);
}
.info_field--2-text {
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 43em;
  left: 50%;
  transform: translate(-70%, -40%);
}
.comment_text {
  color: white;
  margin: 0;
}

.icon_comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}

.info_field--item {
  display: flex;
  gap: 0.3rem;
  margin-top: 1rem;
}

.item-4 {
  position: absolute;
  left: 15rem;
}

.icon_street {
  border: none;
  border-radius: 0.5rem;
}
